
.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:24px 60px;
}

#root{
  display:flex;
  flex-direction: column;
}

.logo img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.buttons{
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: flex-end;
  margin-top: -20px;
  margin-left:20px;

}

.Register-button,.login-button{
  width: 140.99px;
  height:53.02px;
  font-family: popins;
  font-weight: 600;
  border-radius: 12px;
  background-color: #D4AF37;
  color:#FFFFFF;
}

.title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-title{
  color:#FFFFFF;
  font-weight: 600;
  font-size:64px;
  letter-spacing:2px;
  margin:0;
}

.sub-title{
  color:#FFFFFF;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 2px;
}

.content1 img{
  height: 336px;
  width:336px;
  border-radius: 155px;
  margin-right: 100px;
}

.content1{
  display:flex;
  align-items: center;
  justify-content: flex-start;
  gap:100px;

}

.text1{
  flex:1;
  padding-left:100px;
  font-size: 24px;
  word-spacing: 2px;
}

.text1 p{
  padding-bottom: 20px;
}

.content2{
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 20px;
  gap: 100px;
}

.pigimage img{
  border-radius: 46px;
  width: 304px;
  height: 304px;
  padding-left: 40px;
}

.text2{
  font-size: 24px;
  word-spacing: 2px;
  padding-right: 40px;
}

.contact{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.contact a:hover img {
  transform: scale(1.2);
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.6));
}

.login-button:hover{
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.6));
  cursor: pointer;
  
}

.Register-button:hover{
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.6));
  cursor: pointer;
  
}

.loginbody{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:100px;
  background: transparent;
  border-radius: 61px;
  width: 616px;
  background-color: #232C4A;
  filter: drop-shadow(0 0 4px #000000);
  border: 1px solid #000000;
  padding-bottom: 30px;
}

.or{
  font-size: 36px;
  font-weight: 600;
}

.googlecard{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:30px;
  border-radius: 33px;
  width: 616px;
  height: 83px;
  background: transparent;
  background-color: #232C4A;
  filter: drop-shadow(0 0 4px #000000);
  border: 1px solid #000000;
  font-size: 24px;
  font-weight: 600;
  word-spacing: 2px;
  color: #FFFFFF;
}

.googlecard:hover{
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.6));
}

.googlecard img {
  width: 22px;
  height: 22px;
}


.card h2{
  padding-top: 30px;
}

.inputbox{
  display: flex;
  flex-direction:row;
  gap:10px;
}

.inputbox label{
  color:white;
  font-size: 24px;
  letter-spacing: 2px;
}

.inputbox input{
  background:transparent;
  border: none;
  border-bottom: 2px solid white;
  outline: none;
  color: white;
  padding: 8px 5px;
  font-size: 14px;
  text-align: center;
}

.login-bttn{
  background-color: #D4AF37;
  width: 265px;
  height: 64px;
  border-radius: 32px;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.3s;
}

button{
  color: #FFFFFF;
  text-decoration: none;
}

a{
  text-decoration: none;
}

.login-bttn:hover{
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.6));
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}



.dashboard-container{
  display: flex;
  flex-direction: row;
}


.side-navigation{
  width: 330px;
  background-color: #303C60;
  display: flex;
  flex-direction: column;
  gap:70px;
}


.side-heading{
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.side-heading img{
  width: 58px;
  height: 57px;
  border-radius: 525px;
  margin-top: 10px;
  margin-left:5px;
}


.side-options{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 30px;
}

.dashboard{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  font-family:Poppins;
  width: 250px;
  margin-left: 30px;
  border-radius: 15px;
}

.budgets{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  font-family:Poppins;
  width: 250px;
  margin-left: 30px;
  border-radius: 15px;
}

.profiles{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:10px;
  padding-left: 10px;
  font-size: 16px;
  font-weight: 600;
  font-family:Poppins;
  width: 250px;
  margin-left: 30px;
  border-radius: 15px;
}


.log-out{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #D4AF37;
  width: 280px;
  margin-left: 30px;
  margin-top: auto;
  margin-bottom: 50px;
  border-radius: 15px;
  font-size: 16px;
}


.dashboard:hover{
  background-color: #A5986F;
}

.budgets:hover{
  background-color: #A5986F;
}


.profiles:hover{
  background-color: #A5986F;
}

.log-out:hover{
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.6));
}


.calender-container{
  
  width: 600px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap:40px;
}


.calender-title{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.calender{
  max-width: 800px;
  margin: 20px auto;
  font-family: Arial, sans-serif;

}



.fc {
  border: 1px solid black;
  border-radius: 5px;
  font-size: 12px;
  height: 400px;
  width: 400px;
  background-color: #303C60;
  color: white;
}


.fc th {
  background-color: transparent;
  padding: 8px;
  text-align: center;
  border: 1px solid black;
  color: white;
  font-size: 9px;
}


.fc td {
  height: 50px;
  padding: 5px;
  border: 1px solid black;
  vertical-align: top;
  color: white;
}


.fc-event {
  display: block;
  background-color: #1976d2;
  color: white;
  padding: 2px 4px;
  border-radius: 3px;
  font-size: 12px;
  margin-bottom: 2px;
  cursor: pointer;
}



.fc-daygrid-day {
  cursor: pointer;
  transition: background-color 0.2s ease, border 0.2s ease;
}


.fc-daygrid-day:hover {
  background-color: #81abc9;
}

.selected-day {
  background-color: #1976d2 !important;
  color: white;
}

.selected-day .fc-daygrid-day-number {
  color: white;
  font-weight: bold;
}

.calender-descrition{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.log-savings{
  background-color: #303C60;
  border-radius: 10px;
  width: 500px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:30px;
}


.log-entry{
  display: flex;
  flex-direction: column;
  gap:10px;
}

.log-entry input{
  border-radius: 5px;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
}

.category {
  border: none;        
  outline: none;      
  background: transparent;
  padding: 0;          
  font-size: inherit;
  color: #FFFFFF;  
}

.amount{
  background-color: #D4AF37;
  color: #FFFFFF;
}

.save-add-button{
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin: 0px;
}

.save-add-button button{
  border-radius: 5px;
  height: 30px ;
  background-color: #D4AF37;
  color: #FFFFFF;
  font-size:16px;
}

.save-add-button button:hover{
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.6));

}



.save-btn button{
  border-radius: 5px;
  height: 30px ;
  background-color: #D4AF37;
  color: #FFFFFF;
  font-size:16px;
}


.save-btn:hover{
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.6));
}